#
# Copyright (c) 2023 juskim. All rights reserved.
# GitHub: jus-kim, YouTube: @juskim
#
# Battery charger driver configuration options
#

menuconfig BAT_CHARGER
	bool "Battery charger"
	default y
	help
	  Enable battery charger driver.


if BAT_CHARGER

config MCP73831
	bool "MCP73831 driver"
	default y
	depends on GPIO
	help
	  Enable MCP73831 battery charger driver.

endif # BAT_CHARGER